In [1]:
#1

x="x" * 13
print(x)

xxxxxxxxxxxxx

In [5]:
#2 """ - Are used for multiline strings

"""
Hello 
welcome to
PK
"""

'\nHello \nwelcome to\nPK\n'

In [10]:
#3

name= "Jim Smith"
print(name[1])

i

In [11]:
#4

name= "Jim Smith"
print(name[-2])

t

In [12]:
#5

name= "Jim Smith"
print(name[1:-1])

im Smit

In [13]:
#6

len(name)

9

In [14]:
#7 - Escape sequences in python

#     \newline	Backslash and newline ignored
#     \\	Backslash (\)
#     \'	Single quote (')
#     \"	Double quote (")
#     \a	ASCII
#     \n	ASCII Linefeed (LF)
#     \t	ASCII Horizontal Tab (TAB)
#     \v	ASCII Vertical Tab (VT)
#     \b	ASCII Backspace (BS)
#     \xhh	Character with hex value hh
#     \ooo	Character with octal value ooo
#     \r	ASCII Carriage Return (CR)
#     \f	ASCII Formfeed (FF)

In [18]:
#8 - Formatted Strings

f'{3+4}+{20%3}'

'7+2'

In [19]:
#9 

name= "Jim Smith"
name.title()

'Jim Smith'

In [20]:
#10 - The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

name.strip()

'Jim Smith'

In [21]:
#11

name.find("Parker")

-1

In [24]:
#12

name.replace("e","i")
print(name)

Jim Smith

In [27]:
#13 

name.find('Mary')

-1

In [32]:
#14

# / - Normal Division : Divides the value on the left by the one on the right. Notice that division results in a floating-point value.
# // - Floor Division : Divides and returns the integer value of the quotient. It neglects the digits after the decimal.

print(20/3)
print(20//3)

SyntaxError: invalid syntax (<ipython-input-32-36464f5696dd>, line 3)

In [35]:
#15 

# ** - Equivalent to power method

20**3

8000

In [37]:
#16

x=3
x+=2
print(x)

5

In [46]:
#17

# The round() function returns a rounded number of a floating point number with the specified number of decimals.

round(9.99)

10

In [48]:
#18

float(1)

1.0

In [51]:
#19

bool("False")

True

In [ ]:
#20 - Falsy values in python

# Sequences and Collections:

# Empty lists []
# Empty tuples ()
# Empty dictionaries {}
# Empty sets set()
# Empty strings ""
# Empty ranges range(0)
# Numbers

# Zero of any numeric type.
# Integer: 0
# Float: 0.0
# Complex: 0j
# Constants

# None
# False

In [52]:
#21

10=="10"

False

In [53]:
#22

"bag">"apple"

True

In [54]:
#23

not(True or False)

False

In [63]:
#24

# The expression evaluates to True when age is any number in 19 to 69
age in range(19,70)
19<=age<70

True

In [70]:
#25

for i in range(1,10,2):
    print(i)

1
3
5
7
9